@use "./layout/variables" as *;
@use "./layout/colors" as *;

.whitepaper {
  &--orange {
    .whitepaper__right-col {
      background: var(--NY-Terra-source);
      color: var(--White-100);
    }

    .whitepaper__title {
      color: var(--White-100);
    }
  }

  &__container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    &.container {
      padding: 0;
    }
  }

  &__title-box {
    &:not(:last-child) {
      margin-bottom: 64px;
    }

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (min-width: $pc) {
      row-gap: 64px;
    }
  }

  &__left-col {
    min-width: 320px;
    flex: 1 0 0;
  }

  &__image-holder {
    height: 650px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $pc) {
      height: 814px;
    }

    &--mob {
      @media (min-width: $pc) {
        display: none;
      }
    }

    &--desk {
      display: none;

      @media (min-width: $pc) {
        display: block;
      }
    }
  }

  &__right-col {
    min-width: 320px;
    flex: 1 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
    height: 100%;
    min-height: 650px;

    @media (min-width: $pc) {
      padding: 64px 48px;
    }
  }

  &__title {
    flex: 1 0 0;
    overflow-wrap: anywhere;

    &--white {
      color: var(--White-100);
    }
  }

  &__text-holder {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @media (min-width: $pc) {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    &--bold {
      font-weight: 600;
    }

    &--blue {
      color: var(--NY-Blue-400);
    }

    &--small {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;

      @media (min-width: $pc) {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -1px;
      }
    }
  }

  &__button-box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__list {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media (min-width: $pc) {
      row-gap: 12px;
    }

    li {
      list-style-type: disc;
      font-size: $fontSize;
      line-height: 1.3;
      letter-spacing: -0.4px;

      @media (min-width: $pc) {
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: -1px;
      }
    }

    &--white {
      color: var(--White-100);
    }
  }
}

.info-file {
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    &::before {
      font-size: 24px;
    }
  }
}