@use "sass:math";
@use "./variables" as *;
@use "./colors" as *;

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--app-height: 100%;
}

html,
body {
	height: 100%;
	min-width: $minWidth + px;
}

body {
	background-color: var(--White-100);
	color: $mainColor;
	line-height: 1.3;
	font-weight: 400;
	font-family: $fontFamily;
	font-size: $fontSize;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
	line-height: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

.container {
	width: 100%;
	max-width: 864px;
	padding: 0 32px;
	margin: 0 auto;

	@media (min-width: $pc) {
		max-width: $containerWidth + px;
		padding: 0 math.div($containerPadding, 2) + px;
	}
}