@use "./variables" as *;
@use "./colors" as *;

a.btn,
button.btn,
span.btn,
input.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  column-gap: 8px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 14px 16px;
  border-radius: 99px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Inter", sans-serif;

  &.blocked {
    pointer-events: none;
    background: var(--NY-Black-100);
    color: var(--NY-Black-200);
    border-color: var(--NY-Black-100);
  }

  span {

    &::after,
    &::before {
      font-size: 18px;
      font-weight: 400;
    }
  }

  @media (min-width: $pc) {
    padding: 21px 20px;
    font-size: 16px;

    span {

      &::after,
      &::before {
        font-size: 24px;
      }
    }
  }

  &--filter {
    color: var(--NY-Black-source);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: color 0.4s;

    &::before {
      font-size: 32px;
    }

    &:active {
      color: var(--NY-Terra-300);
    }
  }

  &--full {
    background: var(--NY-Black-source);
    color: var(--NY-Blue-50);

    &:hover {
      background: var(--NY-Black-900);
    }

    &:active {
      background: var(--NY-Black-900);
    }
  }

  &--icon {
    @media (min-width: $pc) {
      padding: 20px 20px 20px 24px;
    }
  }

  &--empty,
  &--empty-white {
    padding: 12px 14px;
    color: var(--NY-Black-source);
    border: 2px solid var(--NY-Black-source);

    @media (min-width: $pc) {
      padding: 18px 18px 18px 22px;
    }

    &:hover {
      background: var(--NY-Black-source);
      color: var(--NY-Blue-50);
    }

    &:active {
      background: var(--NY-Black-900);
      border: 2px solid var(--NY-Black-900);
    }
  }

  &--empty-white {
    padding: 12px 14px;
    color: var(--White-100);
    border-color: var(--White-100);

    @media (min-width: $pc) {
      padding: 18px 18px 18px 22px;
    }

    &:hover {
      color: var(--NY-Blue-source);
      background: var(--White-100);
    }

    &:active {
      color: var(--NY-Blue-900);
      background: var(--NY-Black-50);
      border-color: var(--NY-Black-50);
    }
  }
}