:root {
	--White-100: #FFFFFF;
	--NY-Black-100: #DADDDE;
	--NY-Black-200: #C1C7C9;
	--NY-Black-300: #AAB2B4;
	--NY-Black-400: #949D9F;
	--NY-Black-50: #F2F4F4;
	--NY-Black-500: #7E888B;
	--NY-Black-600: #6A7476;
	--NY-Black-700: #576062;
	--NY-Black-800: #454D4F;
	--NY-Black-900: #343A3C;
	--NY-Black-source: #000D10;
	--NY-Blue-100: #DCDCE3;
	--NY-Blue-200: #C6C6D0;
	--NY-Blue-300: #AFAFBD;
	--NY-Blue-400: #9A9AAA;
	--NY-Blue-50: #F3F3F6;
	--NY-Blue-500: #858596;
	--NY-Blue-600: #707181;
	--NY-Blue-700: #5D5D6C;
	--NY-Blue-800: #4A4A57;
	--NY-Blue-900: #383842;
	--NY-Blue-source: #151623;
	--NY-Terra-100: #F7D6CA;
	--NY-Terra-200: #EEBBA8;
	--NY-Terra-300: #E1A28A;
	--NY-Terra-400: #D18A6F;
	--NY-Terra-50: #FDF1ED;
	--NY-Terra-500: #BD7358;
	--NY-Terra-600: #A75F44;
	--NY-Terra-700: #8E4C34;
	--NY-Terra-800: #743C27;
	--NY-Terra-900: #592D1D;
	--NY-Terra-source: #BC7155;
}